@font-face {
    font-family: Scientifica;
    src: url("../assets/scientifica.ttf");
}

@font-face {
    font-family: Scientifica;
    src: url("../assets/scientificaBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Scientifica;
    src: url("../assets/scientificaItalic.ttf");
    font-style: italic;
}

body {
    background-color: black;
    margin: 0;
    color: #AEC6CF;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    display: flex;
    font-family: Scientifica;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 10vh;
}

.navteks-container a {
    text-align: center;
    font-size: 24;
    margin-left: 14px;
    padding: 14px 16px;
}

.navteks-container a:hover {
    background-color: #AEC6CF;
    color: black;
}

.navicon-container {
    margin-left: 20px;
    align-self: center;
}

.icon {
    height: 70px;
    width: 70px;
}

.navteks-container {
    margin-left: auto;
    margin-right: 30px;
    align-self: center;
}

footer {
    text-align: center;
    font-family: Scientifica;
}

/* start of index.html */
.content-index {
    font-family: Scientifica;
    background: url("../assets/bgkeyboard1.jpg") no-repeat center;
    background-size: cover;
    height: 86vh;
    font-family: Scientifica;
    display: flex;
    overflow: hidden;
}

.pembuka {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.pembuka h1 {
    padding: 5px;
    background-color: black;
}
/* end of index.html */

/* start of about.html */
.content-about {
    display: flex;
    font-family: Scientifica;
    font-size: 18;
    height: 86vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: solid;
    box-sizing: border-box;
    border-color: inherit;
}

.content-about p {
    margin-left: 100px;
    margin-right: 100px;
}

.profile{
    margin-left: 20px;
    height: 160px;
}
/* end of about.html */

/* start of portofolio.html */
.content-portofolio {
    width: 100%;
    border: solid;
    border-color: inherit;
    box-sizing: border-box;
    font-family: Scientifica;
    height: 86vh;
    overflow : hidden;
}

.content-portofolio h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.grid-portofolio {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 30px 30px;
}

.porto {
    width: 100%;
    height: 100%;
    border: thin solid #AEC6CF;
}
/* end of portofolio.html */